{% extends 'base.html.twig' %}
{% block title %}{{ 'register'|trans }}{% endblock %}
{% if form is defined %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
{% endif %}
{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'register'|trans }}</h1>
        <div class="mb-3">
            {{ form_errors(registrationForm)}}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'password',
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">{{ 'register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>

        <a href="{{ path('connect_google') }}">{{ 'sign.in.google'|trans }}</a>
    </div>
{% endblock %}
