<a href="{{ path('app_account_show', {id: row.slug}) }}">{{ 'show'|trans }}</a>
<a href="{{ path('app_account_edit', {id: row.slug}) }}">{{ 'edit'|trans }}</a>
<a class="account-delete" href="#"
   data-toggle="modal"
   data-target="#delete-modal"
   data-account-id="{{ row.slug ?? row.id }}"
>
    {{ 'delete'|trans }}
</a>